@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #FF2442;
  --primary-color-hover: #FF5070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 小红书主题色 */
:root {
  --adm-color-primary: #FF2442;
}

.adm-button-primary {
  background-color: #FF2442 !important;
  border-color: #FF2442 !important;
}

.adm-button-primary:active {
  background-color: #FF5070 !important;
  border-color: #FF5070 !important;
}

.adm-tab-bar-item-active {
  color: #FF2442 !important;
}
